{
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "resources/css/app.css",
    "tailwindFunctions": ["clsx", "cn", "cva"],
    "overrides": [
        { "files": ["*.yml", "*.yaml", "*.json", "*.md"], "options": { "tabWidth": 2 } }
    ]
}
